body {
}

.perfil-container {
    margin-top: 25px;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 10px 10px 0px #E5E5E5;
}


.perfil-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

.perfil-item {
    width: 30%;
}

.img-container {
    width: 150px;
    height: 150px;
    margin: auto;
}

img {
    padding: 5px;
    border: 5px solid #FCA311;
    border-radius: 100px;
    width: 100%;
    box-shadow: 0px 10px 10px 0px #14213D;
}



#ContentPlaceHolder1_DataList1 {
    width: 100%
}

.postulaciones-container {
    margin-top: 100px;
    width: 100%;
    box-shadow: 0px 10px 10px 0px #E5E5E5;
    padding: 10px 0 0 0;
}

.postulaciones-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.postulacion-item {
    width: 20%;
    padding: 15px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.opciones-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opcion-item {
    text-align: center;
    margin: auto;
    width: 50%;
}
