body {
}

.perfil-container{
    width: 100%;
    border: 1px solid orange;
}


.perfil-wrapper{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    width: 75%;
    border: 1px solid red;
}

.perfil-item{
    width: 30%;
    border:1px solid black;
}

.img-container{
    width:150px;
    height: 150px;
    margin: 10px;
}

img {
    padding: 5px;
    border: 1px solid black;
    border-radius: 100px;
    width: 100%;
}

